@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply transition-colors duration-300;
}

body {
  @apply bg-white text-gray-900 dark:bg-gray-950 dark:text-gray-100 transition-colors duration-300;
}
@keyframes slowZoom {
  0% { transform: scale(1); }
  100% { transform: scale(1.08); }
}

.animate-slowZoom {
  animation: slowZoom 20s ease-in-out infinite alternate;
}